extends layout

block content
   //h1= title
   header
      include ./include/navigation
   section.row
      div.col-sm-6 your position : Java &gt j2ee
      div.col-sm-6 good good study day day up -_-
   section.row
      include ./include/article
      include ./include/aside

   footer
      include ./include/footer
   script(src='/javascripts/index.js',type='text/javascript')

