//
   Created by GeoStar on 2015/8/25.

aside.col-md-4
   div.panel.panel-default.panel-login
      div.panel-body
         p this is  login
   div.panel.panel-default.panel-new-article
      div.panel-body
         ol
            li
               a(href='#') this is new article panel
            li
               a(href='#') this is new article panel
            li
               a(href='#') this is new article panel
            li
               a(href='#') this is new article panel
            li
               a(href='#') this is new article panel
   div.panel.panel-default.panel-hot
      div.panel-body
         ul
            li
               a(href='#') this is hot article panel
            li
               a(href='#') this is hot article panel
            li
               a(href='#') this is hot article panel
            li
               a(href='#') this is hot article panel
            li
               a(href='#') this is hot article panel
   div.panel.panel-default.panel-article-default
      div.panel-body
         h2 this  is friend links page